main {width: 100%; height: 100%;}
#contents {width: 100%; min-height: 100%; margin: 0 auto;}
#contents .contents_wrap {width: 1200px; margin: 60px auto;}

.top_visual {width: 100%; height: 260px; position: relative; background: url(../image/topVisual01.jpg); background-size: cover;}
.top_visual h2 {position: absolute; top: 70%; left: 50%; transform: translate(-50%, -70%); font-size: 2.5em; color: #fff;}

/* 회원가입 */
.join_txt {width: 100%; margin: 0 auto; text-align: center;}
.join_txt h3 {font-size: 2em; font-weight: lighter; line-height: 2;}
.join_txt p {font-size: 14px;}
.join_rule {width: 100%; font-size: 14px; margin: 40px auto;}
.join_rule ul {border: 1px solid #e1e1e1; padding: 20px 15px;}
.join_rule ul li {line-height: 2; font-size: 14px;}
.join_rule ul li::before {content: '-'; display: inline-block; margin-right: 10px;}
.join_member {width: 100%; margin: 40px auto;}
.join_member ul {text-align: center;}
.join_member ul li {display: inline-block;}
.join_member ul li:nth-of-type(1) a {width: 200px; height: 80px; display: block; background: url(../image/iconMj01.png) no-repeat; line-height: 80px;}
.join_member ul li:nth-of-type(2) a {width: 200px; height: 80px; display: block; background: url(../image/iconMj02.png) no-repeat; line-height: 80px;}

/* 회원가입 약관동의 */
.tab {width: 100%; display: inline-block;}
.tab ul {border-bottom: 1px solid #e1e1e1;}
.tab ul li {display: inline-block; padding: 10px 50px; border-top: 2px solid #333; border-left: 1px solid #e1e1e1; box-sizing: border-box; background: #fff; cursor: pointer;}
.tab ul li:nth-of-type(2),
.tab ul li:nth-of-type(3),
.tab ul li:nth-of-type(4) {margin-left: -4px;}
.tab ul li:nth-of-type(1) {border-left: none;}

.tab ul li a {font-size: 14px;}

/* .tab ul li.on {border-bottom: 10px solid #fff; background: #fff;} */
.tab ul li.on a {font-weight: bold;}

.rule_wrap {margin: 60px 0;}
.rule_wrap .rule_agree {margin: 60px 0;}
.rule_wrap .rule_agree h3 {}
.sub_tit {font-weight: bold;}
.sub_tit:before {content:''; display: inline-block; width: 3px; height: 16px; background: #666; margin-right: 5px; transform: translateY(3px);}

.rule_agree ul {width: 500px; margin: 10px auto; display: flex; justify-content: space-around; ;}
.rule_agree ul li {display: inline-block; width: 250px; padding: 10px 20px; border: 1px solid #e1e1e1; text-align: center; background: #6464CD; cursor: pointer;}
.rule_agree ul li:nth-of-type(1) {border-right: none;}
.rule_agree ul li a {text-align: center; color: #fff;}
.rule_agree ul li:hover {opacity: 0.8;}

.info {font-size: 13px; margin: 20px auto;}

.rule_box {width: 100%; height: 100%;}
.rule_box .scroll_box {width: 100%; height: 200px; border: 1px solid #e1e1e1;}
.rule_box input[type="checkbox"] {}
.rule_box label {font-size: 13px;}

.btn_wrap {text-align: center;}
.btn_wrap button {text-align: center; padding: 10px 20px; border-radius: 3px; border: 1px solid #e1e1e1; font-size: 14px;}

/* 회원가입 본인확인 */
.self_confirm {margin: 60px 0;}
.self_confirm h2 {font-size: 2em; margin: 20px 0; font-weight: bold; text-align: center;}
.confirm_rule {font-size: 14px; margin: 20px auto; border: 1px solid #e1e1e1; padding: 20px 15px;}
.confirm_rule ul {}
.confirm_rule ul li {line-height: 2; font-size: 14px;}
.confirm_rule ul li::before {content: '-'; display: inline-block; margin-right: 10px;}
.confirm_rule .phone {text-align: center;}
.confirm_rule .phone button {padding: 10px 20px;}
.confirm_rule .phone p {color: red;}



/* 회원가입 정보입력 */
.join_wrap {margin: 60px 0;}
.join_wrap .join_table {width: 600px; margin:0 auto;}
.join_wrap .join_table table {margin: 0 auto; border-top: 1px solid #778899; border-bottom: 1px solid #778899; z-index: 10;}
.join_table table tr {height: 36px; border-bottom: 1px solid #e1e1e1;}
.join_table table tr:last-child {border-bottom: 1px solid #778899;}
.join_table table tr th {font-size: 12px; padding: 5px; text-align: left; background: #778899; color: #fff; font-weight: lighter; padding-left: 10px; vertical-align: middle;}
.join_table table tr td {padding: 5px; font-size: 12px;}
.join_table table tr td input {outline: none; border: 1px solid #e1e1e1; width: 75%; padding: 5px 10px}
.join_table table tr td button {font-size: 12px; vertical-align: middle; padding: 3px 5px; background: #778899; color: #fff; border-radius: 3px;}
.join_table table tr td select {padding: 4px; font-size: 12px;}
.join_table table tr td .join_info {font-size: 12px; margin-top: 5px; margin-left: 5px;}

.info_required {text-align: right; font-size: 12px; color: #778899;}
.point {font-size:12px; color: #fff; margin-right: 5px}

/* 버튼 */
.next_btn {background: #778899; color: #fff; letter-spacing: -1px; font-weight: bold;}



/* 로그인 20210222 */
.login_wrap { margin: 60px 0;}
.tab_login{ }
.tab_login ul{     width: 500px; margin: 10px auto;
    display: flex;
    justify-content: space-around;} 
.tab_login li  {display: inline-block; width: 250px;padding: 10px 20px;border: 1px solid #e1e1e1;text-align: center; background: #6464CD;cursor: pointer; }
.tab_login li:nth-of-type(1){  border-right: none;}
.tab_login li a {color:#fff; }
.tab_login li:hover{ opacity: 0.8;}
.tab_login ul li.on a{   }


.login_box { margin: 60px auto; width: 500px; }
.login_box h2 { font-size: 1.5em; margin: 20px 0; font-weight: bold;text-align: left;}

.login_table{ margin:30px auto; width: 100%; overflow: hidden; }

.login_box .login_table table{   }


.login_table .login_1{float: left; width: 380px; }
.login_table input {outline: none; border: 1px solid #e1e1e1; padding: 5px 10px; width: 90%; margin-top: 10px;     font-weight: bold;}


.login_table .login_2{float: left;  width: 120px; text-align: center;}
.login_table .login_2 button {outline: none; font-size: 1.2rem;  border: 1px solid #e1e1e1;     padding: 20px 25px; margin-top: 10px; border-radius: 5px ;    background: #778899; color: #fff; font-weight: bold;}


   

.login_q_box {width:100%; }
.login_q1 {float: left ; width: 48%;  border:1px solid #e1e1e1 ;margin-top: 8%; text-align: center; }
.login_q1 p {margin: 25px auto; }
.login_q1 ul {width: 100%; overflow: hidden; margin: 25px auto; }
.login_q1 li {width:45%; float:left;  }
.login_q1 li:nth-child(1) {margin-left: 2.5%;}
.login_q1 li:nth-child(2) {margin-left: 2.5%;}
.login_q1 li a {padding: 8px 2px; border: 1px solid #778899 ; border-radius: 5px; color: #fff; background: #778899; display: block;}
.login_q1 li a:hover {color: #fff; background: #425b73 ;transition: all 0.5s; }



.login_q2 {float: left ; width: 48%;  border: 1px solid #e1e1e1; margin-top: 8%;  margin-left: 1%;text-align: center; }

.login_q2 p {margin: 25px auto; }
.login_q2 ul {width: 45%; overflow: hidden; margin: 25px auto; }
.login_q2 li a {padding: 8px 2px; border: 1px solid #778899 ; border-radius: 5px; color: #fff; background: #778899; display: block;}
.login_q2 li a:hover {color: #fff; background: #425b73 ;transition: all 0.5s; }



/* 아이디 찾기 - 일반회원1 */
.find_box {margin: 60px auto; width: 500px;}
.find_box h2{font-size: 1.5em; margin: 20px 0; font-weight: bold; text-align: center;} 
.find_box ul{ }
.find_box li {margin: 10px auto; text-align: center;}
.find_box a {width: 45%;display: block; margin: 0 auto; padding: 8px 2px;border: 1px solid #778899; border-radius: 5px; color: #fff; background: #778899;      text-align: center;}
.find_box li a:hover {color: #fff; background: #425b73 ;transition: all 0.5s; }
.find_box p   { margin:30px auto; text-align: center}


/* 아이디 찾기 - 일반회원2 */
span.find-i{color:#5d5dff; }
ul.find_yes {margin: 30px auto;width: 100%; overflow: hidden;}
ul.find_yes li{float: left; width: 50%;font-size: 1.2rem; }
ul.find_yes li:first-child{font-weight: bold ;    font-size: 1.5rem;}
.confirm_rule_find{     font-size: 14px; margin: 20px auto;border: 1px solid #e1e1e1;
 padding: 20px 15px;}
.confirm_rule_find ul li:before{content:'*';  display: inline-block;margin-right: 10px;}
button.search-i-btn {  text-align: center;padding: 10px 20px;border-radius: 3px; border: 1px solid #e1e1e1; font-size: 14px; background: #778899; color: #fff; letter-spacing: -1px;font-weight: bold;}


/* 아이디 찾기 - 기관인증1 */
.find3_agency {width: 70%;margin: 30px auto ;}
.find3_agency p {text-align: left; margin: 10px auto;font-weight: bold; }
.find3_agency input{ width: 100%;    display: block;}
.find3_agency span{  display: inline-block;font-size: 0.8rem; color: #868686;    margin: 5px auto; }



/* 비밀번호 찾기 - 일반회원1 */
.find5_agency {  width: 70%; margin: 30px auto;}
.find5_agency p {  text-align: left; margin: 10px auto;font-weight: bold;}
.find5_agency input{width: 100%;display: block; }
.find5_agency span{display: inline-block; font-size: 0.8rem;  color: #868686; margin: 5px auto;}
.find_yes_pw{{margin: 30px auto;width: 100%; overflow: hidden;}}
li.find_pw {text-align: center; font-weight: bold ;    font-size: 1.5rem;}




/* 국민내일배움카드 훈련과정 1*/
.training_wrap {margin: 60px 0;}
.training_box{}
.training_title{}
.training_title h2{font-size: 1.5em; margin: 20px 0; font-weight: bold;text-align: center;}
.training_title p{text-align: center;}

.training_search_wrap{ width: 100%;padding: 40px 20px 20px; border: 3px solid #d8dfeb; margin: 50px auto;}
.training_search_box_1{}
.training_search_box_1 .training_search_key_1 { margin: 20px 20px;}
.training_search_box_1 .training_search_key_1 p { width: 25%; font-weight: bold; float: left; padding: 5px; font-size: 16px;  line-height: 20px; }
.training_search_box_1 .training_search_key_1 input {width: 72%;padding: 5px; margin-left: 20px;  line-height: 20px; border: 1px solid #cdcdd1;box-sizing: border-box; }



/*캘린더 부분*/
.training_search_box_1 .training_search_key_2 {margin: 20px 20px;}

.training_calender p{width: 25%; font-weight: bold; float: left; padding: 5px; font-size: 16px;}
.training_calender input{margin-left: 20px; }
.training_calender input:nth-of-type(2){margin-left: 0%; }

.training_calender input[type=text].datetype{padding:4px 2px 5px 25px;  font-size:11px; color:#666; background:url('../image/inoCalendar.png') no-repeat 5px 5px; background-size:15px;
line-height: 20px; border: 1px solid #cdcdd1;box-sizing: border-box; }


p.training_line {width: 100%;  height: 1px;  margin: 30px auto;background: #dcdcdd; }

.training_plus_page dl.row {width: 100%; display: flex;flex-wrap: wrap; margin-bottom: 12px;}
.training_plus_page dt.title {width: 25%; font-weight: bold; float: left; padding: 5px;font-size: 16px;}
.training_plus_page dd.flex-radio-type{width: 71%;margin-left: 20px;line-height: 20px;}
.training_plus_page dd.flex-radio-type .ui_radiobox-4{ margin: 8px 0;}
.ui_radiobox-4 {float: left; width: 25% ;}

.training_plus_page dd.flex-radio-type .ui_radiobox-6{ margin: 8px 0;}
.ui_radiobox-6 {float: left; width:16% ; }


.open_training_plus_page span{background-image:url('/new_images/common/arrowQna.png') no-repeat ;}






/*처음 보여지는 내용과 버튼 삭제*/
.training_plus_page {display: none;}
button.training_close_btn {display: none;}

button.training_open_btn , button.training_close_btn { width: 100%;line-height: 40px ; position: relative;font-size: 14px; font-weight: bold;}
button.training_open_btn span {  
    display: inline-block;
    width: 17px;
    height: 8px;
    /* margin-top: -4px; */
    background: url(../image/arrowQna.png) no-repeat;
    background-size: 17px 16px;
    background-position: 0 -8px;
    position: absolute;
    top: 36%;
    left: 56.5%
}

button.training_close_btn span {   
    display: inline-block;
    width: 17px;
    height: 8px;
    /* margin-top: -4px; */
    background: url(../image/arrowQna.png) no-repeat;
    background-size: 17px 16px;
    background-position: 0 0px;
    position: absolute;
    top: 36%;
    left: 56.5%
}

.tra_btn_box {width: 100%; text-align: center; margin: 20px auto;}
button.tra_btn_reset {min-width: 112px;display: inline-block;   text-align: center;   background: #fff;border: 1px solid #cdcdd1;color: #4e4f51;  font-size: 14px;  line-height: 38px; height: 40px;   padding: 0 36px;box-sizing: border-box;}


button.tra_btn_login{min-width: 112px;display: inline-block;
    text-align: center;background: #3d5d7c ; border: 1px solid #3d5d7c; color: #fff;font-size: 14px; line-height: 38px; height: 40px;   padding: 0 36px;box-sizing: border-box;
    margin-left: 10px;}


/* 국민내일배움카드 훈련과정 2 리스트 */
div.education_box{width: 100% ;}
.education_box{ width: 100%; margin: 40px auto;}
.education_box h2 {text-align: center; font-size: 1.5em; line-height: 2; font-weight: bold;}
.education_box p {text-align: center;}
.education_box .education {width: 100%; margin: 40px auto;}
.education ul {}
.education ul .education_li {display: flex; justify-content: space-between; align-items: center; border: 1px solid #e1e1e1; margin-bottom: 20px; padding: 30px 0;}
.education_left {position: relative; padding-left: 30px;}
.education_left::after {content:''; display: inline-block; width: 1px; height: 110px; background: #e1e1e1; position: absolute; left: 120%; bottom: -50%;}
.education_center {width: 58%;}
.education_center .class_name {text-align: left;}
.education_center .rel_list {}
.education_center .rel_list ul {}
.education_center .rel_list ul li {display: inline-block; margin-right: 20px; font-size: 13px; line-height: 3;}
.education_center .rel_list ul span {font-weight: bold; margin-right: 10px; padding: 5px 20px; border: 1px solid #e1e1e1; border-radius: 5px;}


.box_price{}

.education_center .rel_list ul li .bar {display: inline-block; width: 400px; height: 20px; border: 1px solid #e1e1e1;}
.education_center .rel_list ul li .bar .percent {width: 80%; background: #e1e1e1; line-height: 21px; text-align: center; font-size: 12px;}
.education_right {padding-right: 30px;}
.education_right .box_price {text-align: right;}
.education_right .box_price ul {text-align: right;}
.education_right .box_price ul li {margin-bottom: 5px; border: 1px solid #e1e1e1;  text-align: center; font-size: 13px;}
.education_right .box_price ul li:nth-of-type(1) {background: #778899; color: #fff; padding: 5px 10px; font-size: 12px; border-radius: 50px;}
.education_right .box_price ul li:nth-of-type(2) {padding: 5px 20px; font-size: 1.3rem; font-weight: bold; border: none;}
.education_right .box_price ul li:nth-of-type(3) {padding: 5px 20px;}
.education_right .box_price ul li:nth-of-type(4) {padding: 5px 20px;}
.education_right .box_price ul li:nth-of-type(2) button {font-size: 12px;}

div.price_pup_box {position: relative; display: inline-block;}
button.price_pup_btn1, button.price_pup_btn2, button.price_pup_btn3, button.price_pup_btn4 {border:1px solid #e1e1e1 ;padding: 1px 5px; color: #4594ff;font-weight: bold;}
div.price_pup1, div.price_pup2, div.price_pup3, div.price_pup4 {display: none;position: absolute; width: 250px; border: 1px solid #d3d3d6; padding: 5%; padding: 5%;     top: -2px;
                left: 67px;}
div.price_pup1 p, div.price_pup2 p, div.price_pup3 p, div.price_pup4 p{padding: 15px 15px;  background: #dfdfdf; }
div.price_pup1 span, div.price_pup2 span, div.price_pup3 span, div.price_pup4 span{    color: #1d60ff; }
span.tip_point { position: absolute; left: -16px; top: 1px; }
/*background: url(../image/tipopinter.png)no-repeat;*/


/*나의 포인트*/
.my_point_wrap {margin: 60px 0;}

.my_point_title h2{font-size: 1.5em; margin: 20px 0; font-weight: bold;text-align: center;}
.my_point_title p{text-align: center;}

.my_point_box {width:100%;margin: 20px 0 ;background-color:#d3dfeb;  }
.my_point_box li{display: flex; justify-content: space-between;align-items: center;padding-top:30px;}
.point_left{width: 50%;}
.point_center, .point_right{width: 25%;}
.point_left, .point_center, .point_right{float: left; position: relative;padding-left:100px;;}
.point_center, .point_right {border-left:1px solid #c6c6c6; }
.point_left h2, .point_center h2, .point_right h2 {text-align:left;font-size: 1.1em;line-height: 2;font-weight: bold;}
.point_left p, .point_center p, .point_right p {text-align:left; font-size: 1.6rem;  line-height: 2;font-weight: bold;}

.my_point_box li:nth-of-type(2) {  padding-bottom: 45px;}

div.point_calender{margin: 0 auto;}
.point_calender input[type=text].datetype {
    padding: 4px 2px 5px 25px;  font-size: 11px;
    color: #666; background: url(../image/inoCalendar.png) no-repeat 5px 5px;
    background-size: 15px;  line-height: 20px;
    border: 1px solid #cdcdd1;  box-sizing: border-box; background-color: #fff;}

    
.point_calender  .select_box2 {width: 120px; height: 30px; margin-right: 5px;}


.my_point_box2 {width:100%; margin: 20px 0 ;}
.my_point_box2 .point_date_title{margin: 50px auto; text-align: center; font-weight: bold; font-size: 1.2rem;}
.my_point_box2 .circle_box {width: 70%; margin: 0 auto;}

.my_point_box2 .circle_box ul{width:100%; margin-bottom: 40px ;}
.my_point_box2 .circle_box ul::after {content:''; clear:both; display: block;}
.my_point_box2 .circle_box li{float: left; line-height: 1.8;}
.my_point_box2 .circle_box li:nth-of-type(1){ width:25%;}
.my_point_box2 .circle_box li:nth-of-type(2) {width:45%; padding-top: 5px; margin-left: 2.5%;}
.my_point_box2 .circle_box li:nth-of-type(3) {width: 25%; padding-top: 5px; margin-left: 2.5%;}


.my_point_box2 .circle_box li .circle_left {width: 70px;height: 70px;position: relative; border-radius: 70px; border: 3px solid #c6c6c6;  text-align: center; }
.my_point_box2 .circle_box li .circle_left span{position: absolute;top: 27px;display: block;left: 20px;font-weight: bold;color: #474747 ; }

.my_point_box2 .circle_box li .circle_center {    }
.my_point_box2 .circle_box li .circle_center p {;}
.my_point_box2 .circle_box li .circle_center h3{font-weight: bold ;  }


.my_point_box2 .circle_box li div.circle_right {text-align: center;}
.my_point_box2 .circle_box li div.circle_right h3{color:red;font-weight: bold ; }




/* 버 튼 */
button.delete_btn{background: #778899;color: #fff;letter-spacing: -1px; font-weight: bold;
 padding: 3px 15px;margin-left: 5px;border-radius: 3px;}
     
.btn_wrap button.plus_btn2 {text-align: center; font-weight: bold;
    padding: 10px 20px; border-radius: 3px;  border: 1px solid #e1e1e1;  font-size: 14px;}