main {width: 100%; height: 100%;}
#contents {width: 100%; min-height: 100%; margin: 0 auto;}
#contents .contents_wrap {width: 1200px; margin: 60px auto;}


.top_visual {width: 100%; height: 260px; position: relative; background: url(../image/topVisual01.jpg); background-size: cover;}
.top_visual h2 {position: absolute; top: 70%; left: 50%; transform: translate(-50%, -70%); font-size: 2.5em; color: #fff;}

/* 회원가입 */
.join_txt {width: 100%; margin: 0 auto; text-align: center;}
.join_txt h3 {font-size: 2em; font-weight: lighter; line-height: 2;}
.join_txt p {font-size: 14px;}
.join_rule {width: 100%; font-size: 14px; margin: 40px auto;}
.join_rule ul {border: 1px solid #e1e1e1; padding: 20px 15px;}
.join_rule ul li {line-height: 2; font-size: 14px;}
.join_rule ul li::before {content: '-'; display: inline-block; margin-right: 10px;}
.join_member {width: 100%; margin: 40px auto;}
.join_member ul {text-align: center;}
.join_member ul li {display: inline-block;}
.join_member ul li:nth-of-type(1) a {width: 200px; height: 80px; display: block; background: url(../image/iconMj01.png) no-repeat; line-height: 80px;}
.join_member ul li:nth-of-type(2) a {width: 200px; height: 80px; display: block; background: url(../image/iconMj02.png) no-repeat; line-height: 80px;}

/* 회원가입 약관동의 */
.tab {width: 100%; display: inline-block;}
.tab ul {border-bottom: 1px solid #e1e1e1;}
.tab ul li {display: inline-block; padding: 10px 50px; border-top: 2px solid #333; border-left: 1px solid #e1e1e1; box-sizing: border-box; background: #fff; cursor: pointer;}
.tab ul li:nth-of-type(2),
.tab ul li:nth-of-type(3),
.tab ul li:nth-of-type(4) {margin-left: -4px;}
.tab ul li:nth-of-type(1) {border-left: none;}

.tab ul li a {font-size: 14px;}

/* .tab ul li.on {border-bottom: 10px solid #fff; background: #fff;} */
.tab ul li.on a {font-weight: bold;}

.rule_wrap {margin: 60px 0;}
.rule_wrap .rule_agree {margin: 60px 0;}
.rule_wrap .rule_agree h3 {}
.sub_tit {font-weight: bold;}
.sub_tit:before {content:''; display: inline-block; width: 3px; height: 16px; background: #666; margin-right: 5px; transform: translateY(3px);}

.rule_agree ul {width: 500px; margin: 10px auto; display: flex; justify-content: space-around; ;}
.rule_agree ul li {display: inline-block; width: 250px; padding: 10px 20px; border: 1px solid #e1e1e1; text-align: center; background: #6464CD; cursor: pointer;}
.rule_agree ul li:nth-of-type(1) {border-right: none;}
.rule_agree ul li a {text-align: center; color: #fff;}
.rule_agree ul li:hover {opacity: 0.8;}

.info {font-size: 13px; margin: 20px auto;}

.rule_box {width: 100%; height: 100%;}
.rule_box .scroll_box {width: 100%; height: 200px; border: 1px solid #e1e1e1;}
.rule_box input[type="checkbox"] {}
.rule_box label {font-size: 13px;}

.btn_wrap {text-align: center;}
.btn_wrap button {text-align: center; padding: 10px 20px; border-radius: 3px; border: 1px solid #e1e1e1; font-size: 14px;}

/* 회원가입 본인확인 */
.self_confirm {margin: 60px 0;}
.self_confirm h2 {font-size: 2em; margin: 20px 0; font-weight: bold; text-align: center;}
.confirm_rule {width: 100%; font-size: 14px; margin: 20px auto; border: 1px solid #e1e1e1; padding: 20px 15px;}
.confirm_rule ul {}
.confirm_rule ul li {line-height: 2; font-size: 14px;}
.confirm_rule ul li::before {content: '-'; display: inline-block; margin-right: 10px;}
.confirm_rule .phone {text-align: center;}
.confirm_rule .phone button {padding: 10px 20px;}
.confirm_rule .phone p {color: red;}

/* 회원가입 정보입력 */
.join_wrap {margin: 60px 0;}
.join_wrap .join_table {width: 600px; margin:0 auto;}
.join_wrap .join_table table {margin: 0 auto; border-top: 1px solid #778899; border-bottom: 1px solid #778899; z-index: 10;}
.join_table table tr {height: 36px; border-bottom: 1px solid #e1e1e1;}
.join_table table tr:last-child {border-bottom: 1px solid #778899;}
.join_table table tr th {font-size: 12px; padding: 5px; text-align: left; background: #778899; color: #fff; font-weight: lighter; padding-left: 10px; vertical-align: middle;}
.join_table table tr td {padding: 5px; font-size: 12px;}
.join_table table tr td input {outline: none; border: 1px solid #e1e1e1; width: 75%; padding: 5px 10px}
.join_table table tr td button {font-size: 12px; vertical-align: middle; padding: 3px 5px; background: #778899; color: #fff; border-radius: 3px;}
.join_table table tr td select {padding: 4px; font-size: 12px;}
.join_table table tr td .join_info {font-size: 12px; margin-top: 5px; margin-left: 5px;}

.info_required {text-align: right; font-size: 12px; color: #778899;}
.point {font-size:12px; color: #fff; margin-right: 5px}

/* 고객센터 메뉴 */

.cs_menu {width: 200px;}
.cs_menu ul {width: 100%;}
.cs_menu ul li {height: 40px; border-bottom: 1px solid #e1e1e1;}
.cs_menu ul li a {line-height: 40px;}
.cs_menu ul li.on a {color: #4270e0; font-weight: bold;}

.cs_wrap {width: 950px; float: left;}
.cs_wrap h2 {text-align: center; font-size: 1.5em; line-height: 2; font-weight: bold;}
.cs_wrap p {text-align: center;}
.cs_wrap .search_box {width: 100%; margin: 40px auto; border: 1px solid #e1e1e1; padding: 30px 0;}
.cs_wrap .search_box dl {width: 60%; margin: 0 auto;}
.cs_wrap .search_box dl dt {width: 100px; display: inline-block;line-height: 3; font-weight: bold; vertical-align: middle;}
.cs_wrap .search_box dl dd {width: 400px; display: inline-block;} 
.cs_wrap .search_box dl dd select {width: 100%; height: 30px;}
.cs_wrap .search_box dl dd input {width: 51%; margin-left: 5px; height: 25px;}
.cs_wrap .search_box dl dd label {}

.check_wrap {display: inline-block; margin-right: 5px;}
.check_wrap label {margin-right: 3px;}
.ck_radio {width: 10px !important; height: 10px !important; margin-right: 20px; padding:0 !important; line-height: 2;}
.ck_checkbox {width: 10px !important; height: 10px !important;}

.cs_wrap .search_list {width: 100%;}
.cs_wrap .search_list .sort_area {width: 100%; display: flex; justify-content: space-between;}
.sort_area .total_num {}
.sort_area .total_num .point_num {font-size: 1.1em; font-weight: bold;}
.sort_area .select_wrap {}
.sort_area .select_wrap .select_view {display: inline-block;}
.sort_area .select_wrap .select_view label {}
.sort_area .select_wrap .select_view select {width: 120px; height: 30px; margin-right: 5px;}

.faq_area {width: 100%; margin: 10px auto; border-top: 2px solid #e1e1e1;}
.faq_area > ul {margin-top: 10px;}
.faq_area > ul > li {border-bottom: 1px solid #e1e1e1; padding: 20px; position: relative;} 
.faq_area ul li div {}
.faq_area ul li div ul {display: flex;}
.faq_area ul li div ul li {margin-right: 20px;}
.faq_area ul li div ul li::after {content:''; display: inline-block; width: 2px; height: 16px; background: #e1e1e1; transform: translate(10px, 3px);}
.faq_area ul li div ul li:nth-of-type(3)::after {opacity: 0;}
.faq_area ul li a {line-height: 2; font-size: 1.2em;}
.faq_area ul li span {position:absolute; right: 5%; top: 50%; transform: translate(-5%, -50%);}

/* 게시판 */
.notice_area {width: 100%;}
.notice_area .sort_area {width: 100%; display: flex; justify-content: space-between;}
.notice_area .notice_table {width: 100%; margin: 10px auto; border-top: 2px solid #333;}
.notice_table thead tr th {background: #778899; color: #fff; padding: 10px 0; font-size: 13px;}
.notice_table tbody tr {border-bottom: 1px solid #e1e1e1;}
.notice_table tbody tr td {text-align: center; padding: 10px 0; font-size: 13px;}

/* 페이지 */
.pagenation {width: 100%; margin:30px auto; text-align: center; }
.pagenation ul {}
.pagenation ul li {display: inline-block; margin-right: 20px;}
.pagenation ul li a {font-size: 13px;}
.pagenation ul li.on a {color: #4270e0; font-weight: bold;}
.pagenation ul li:hover a {color: #4270e0; font-weight: bold;}

/* 쓰기 */
.write_wrap {margin: 60px 0;}
.write_wrap .write_table {width: 100%; margin: 60px auto;}
.write_wrap .write_table table {width: 100%; margin: 0 auto; border-top: 1px solid #778899; border-bottom: 1px solid #778899; z-index: 10;}
.write_table table tr {height: 36px; border-bottom: 1px solid #e1e1e1;}
.write_table table tr:last-child {border-bottom: 1px solid #778899;}
.write_table table tr th {font-size: 13px; padding: 10px; text-align: left; background: #778899; color: #fff; font-weight: lighter; padding-left: 10px; vertical-align: middle;}
.write_table table tr td {padding: 10px; font-size: 13px; vertical-align: middle;}
.write_table table tr td input[type="text"] {outline: none; border: 1px solid #e1e1e1; width: 75%; padding: 5px 10px;}
.write_table table tr td input[type="radio"] {margin: 0; padding: 0; }
.write_table table tr td button {font-size: 13px; vertical-align: middle; padding: 3px 5px; background: #778899; color: #fff; border-radius: 3px;}
.write_table table tr td select {padding: 4px; font-size: 13px;}
.write_table table tr td textarea {width: 100%; height: 150px;}

.agree_box {margin: 20px auto 0; padding: 20px; border: 1px solid #e1e1e1;}
.reply_area {width: 100%;}
.reply_area ul {border-top: 2px solid #e1e1e1;}
.reply_area ul li {padding: 20px 0; border-bottom: 1px solid #e1e1e1;}
.reply_area .write_reply {margin: 20px 0; display: flex; justify-content: space-between;}
.reply_area .write_reply textarea {width: 90%; height: 100px;}
.reply_area .write_reply button {width: 80px; border-radius: 3px;}

.search_list {width: 100%;}
.search_list .center_list {width: 100%; margin-top: 20px; border-top: 2px solid #333;}
.search_list .center_list ul {width: 100%;}
.search_list .center_list ul li {width: 100%; padding: 30px 0; border-bottom: 1px solid #e1e1e1;}
.search_list .center_list ul li a {font-size: 1.1em; font-weight: bold;}
.search_list .center_list ul li .tel_num {margin-left: 10px; font-size: 12px;}
.search_list .center_list ul li .center_info {display: flex; justify-content: space-between; align-items: center;}
.search_list .center_list ul li .center_info .address {line-height: 2;}
.search_list .center_list ul li button {margin-left: 10px; font-size: 12px; border: 1px solid #e1e1e1;} 
.search_list .center_list ul li .division {font-size: 12px; color: #666;}

/* 공지사항 */
.notice_tab  ul {width: 500px; margin: 10px auto; display: flex; justify-content: space-around; ;}
.notice_tab  ul li {display: inline-block; width: 250px; padding: 10px 20px; border: 1px solid #e1e1e1; text-align: center; background: #6464CD; cursor: pointer;}
.notice_tab  ul li:nth-of-type(1) {border-right: none;}
.notice_tab  ul li a {text-align: center; color: #fff;}
.notice_tab  ul li:hover {opacity: 0.8;}


/* 훈련과정 정보 */
.process_wrap {margin: 60px 0;}
.process_wrap .process_box {width: 85%; margin: 0 auto; border: 1px solid #e1e1e1; padding: 30px;}
.process_box .box_top {display: flex; justify-content: space-between;}
.process_box .box_top .box_img {width: 300px; height: 150px; border: 1px solid #e1e1e1;}
.process_box .box_top .box_info {}
.process_box .box_top .box_info .institute {font-size: 12px; display: block;}
.process_box .box_top .box_info .address {font-size: 12px; display: block; line-height: 2;}
.process_box .box_top .box_info p {display: inline-block;}
.process_box .box_top .box_info h2 {display: inline-block; font-size: 1.5em; line-height: 2; font-weight: bold;}
.status {display: inline-block; font-size: 12px; background: orange; color: #fff; padding: 5px; border-radius: 10px; margin-left: 10px; transform: translateY(-3px);}
.process_box .box_top .box_price {}
.process_box .box_top .box_price p {line-height: 2;}
.process_box .box_top .box_price strong {font-weight: bold;}
.process_box .box_top .box_register {}
.process_box .box_top .box_register ul {}
.process_box .box_top .box_register ul li {width: 100px; height: 30px; margin-bottom: 2px; border: 1px solid #e1e1e1; line-height: 30px; text-align: center; font-size: 12px;}
.process_box .box_top .box_register ul li:nth-of-type(1) {background: #778899;}
.process_box .box_top .box_register ul li:nth-of-type(1) a {color: #fff; font-size: 14px;} 
.process_box .box_bar {margin-bottom: 20px;}
.process_box .box_bar span {margin-right: 20px; line-height: 20px; font-weight: bold;} 
.process_box .box_bar .bar {display: inline-block; width: 500px; height: 20px; border: 1px solid #e1e1e1;}
.process_box .box_bar .bar .percent {display: inline-block; width: 80%; background: #e1e1e1; line-height: 20px; text-align: center; font-size: 12px;}
.process_box .box_table {width: 100%;}
.box_table table {width: 90%;}
.box_table table tr {height: 30px;}
.box_table table tr th {text-align: left; font-weight: bold; vertical-align: middle; position: relative;}
.box_table table tr th::after {content:''; display: inline-block; width: 2px; height: 14px; background: #e1e1e1; position: absolute; left: 95%;}
.box_table table tr td {padding-left: 20px; vertical-align: middle;}
.star_rating {width: 125px; height: 19px; display: inline-block; background: url(../image/icoStar.png) no-repeat center bottom; vertical-align: middle;}

.process_contents {width: 85%; margin: 60px auto;}
.process_contents h3 {font-size: 1.2em; display: inline-block;}
.process_contents .inner {width: 100%; margin: 10px 0;border-top: 2px solid #e1e1e1;}
.inner .info_tit {margin: 20px 0;}
.inner .rel_list {}
.inner .rel_list ul {}
.inner .rel_list ul li {display: inline-block; margin-right: 20px; font-size: 13px;}
.inner .rel_list ul span {font-weight: bold; margin-right: 10px; padding: 5px 20px; border: 1px solid #e1e1e1; border-radius: 5px;}
.common_table {width: 100%; margin: 20px auto;}
.common_table table {width: 100%; border-top: 1px solid #778899; border-bottom: 1px solid #778899; z-index: 10;}
.common_table table tr {border-bottom: 1px solid #e1e1e1;}
.common_table table tr:last-child {border-bottom: 1px solid #778899;}
.common_table table tr th {font-size: 13px; padding: 12px; text-align: center; background: #778899; color: #fff; font-weight: lighter; padding-left: 10px; vertical-align: middle;}
.common_table table tr td {padding: 12px; font-size: 13px; vertical-align: middle; text-align: center;}

.ul_list li::before {content: '-'; display: inline-block; margin-right: 10px;}
/* 훈련과정 탭  */
.info_tab {width: 100%; margin: 60px auto;display: inline-block;}
.info_tab ul {border-bottom: 1px solid #e1e1e1; text-align: center;}
.info_tab ul li {text-align: center; display: inline-block; padding: 10px 50px; border-top: 2px solid #333; border-left: 1px solid #e1e1e1; box-sizing: border-box; background: #fff; cursor: pointer;}
.info_tab ul li:nth-of-type(2),
.info_tab ul li:nth-of-type(3),
.info_tab ul li:nth-of-type(4) {margin-left: -4px;}
.info_tab ul li:nth-of-type(1) {border-left: none;}

.info_tab ul li button {font-size: 14px;}

/* .info_tab ul li.on {background: #e1e1e1;} */
.info_tab ul li.on button {font-weight: bold;}


/* 훈련과정 탭 컨텐츠 */
.info_tab_contents {width: 100%;}
.info_tab_contents .info_contents {width: 100%;}
.info_tab_contents .info_contents .contents {margin-bottom: 60px;}

input[type="file"] {margin-left: 5px; font-size: 12px;}

/* 윈도우팝업 */
.popup_wrapper {width: 998px;}
.popup_wrapper .inner {width: 85%; margin: 60px auto;}
.popup_wrapper .inner h1 {font-size: 1.5em; font-weight: bold; text-align: center;}
.popup_wrapper .btn_wrap {margin-bottom: 60px;}
.inner .procedure {width: 100%; margin: 50px auto;}
.inner .procedure ul {text-align: center;}
.inner .procedure ul li {display: inline-block; margin-right: 100px}
.inner .procedure ul li.on {font-weight: bold;}
.inner .procedure ul li.on span {background: #e1e1e1; color: #fff}
.inner .procedure ul li:last-child {margin-right: 0;}
.inner .procedure ul li span {display: block; width: 100px; height: 100px; border-radius: 100%; border: 1px solid #e1e1e1; text-align: center; line-height: 100px;}
.popup_contents {width: 100%; margin: 60px auto;}
.popup_contents .sub_tit {margin-bottom: 10px;}

.ul_dot li {line-height: 2;}
.ul_dot li span {display: block; font-size: 12px; margin-left: 10px;}
.ul_dot li span::before {content: '-'; display: inline-block; margin-right: 3px;}
.ul_dot li::before {content: 'ㆍ'; display: inline-block;}

.ul_procedure {}
.ul_procedure li {display: inline-block; padding: 10px 20px; background: #e1e1e1; border-radius: 3px; margin-right: 30px; position: relative;}
.ul_procedure li::after {content: ''; display: inline-block; width: 15px; height: 15px; background: url(../image/icoArrow.png) no-repeat; background-size: cover; position: absolute; left: 110%;}
.ul_procedure li:nth-of-type(1)::after {left: 107%;}
.ul_procedure li:nth-of-type(4)::after {display: none;}

.info_price {text-align: center; margin-top: 20px;}
.info_price h3 {font-size: 1.2em;}
.info_price h3 mark {background: transparent; color: orange;}

.popup_contents .common_table td {border-right: 1px solid #e1e1e1;}
.popup_contents .common_table td:last-child {border-right: none;}


/* 수업 리스트 */
.class_list {width: 100%;}
.class_list .center_list {width: 100%; margin-top: 20px;}
.class_list .center_list ul {width: 100%;}
.class_list .center_list > ul > li {width: 100%; border: 1px solid #e1e1e1; display: flex; justify-content: space-between; align-items: center;}
.class_list .center_list ul li .list_left {width: 75%; padding: 30px 40px;}
.class_list .center_list ul li .list_left h2 {font-size: 1.2em; font-weight: bold;}
.list_left .rel_list {margin-top: 20px;}
.list_left .rel_list ul {width: 100%;}
.list_left .rel_list ul li {width: 45%; line-height: 3;}
.class_list .center_list ul li .list_right {width: 15%; padding: 30px 40px;}
.list_right .box_register {text-align: right;}
.list_right .box_register ul {text-align: right;}
.list_right .box_register ul li {width: 100%; height: 30px; margin-bottom: 2px; border: 1px solid #e1e1e1; line-height: 30px; text-align: center; font-size: 12px;}
.list_right .box_register ul li:nth-of-type(1) {background: #778899; color: #fff;}

/* 마이페이지 메뉴 */
.mypage_menu {width: 200px;}
.mypage_menu ul {width: 100%;}
.mypage_menu ul li {height: 40px; border-bottom: 1px solid #e1e1e1;}
.mypage_menu ul li a {line-height: 40px;}
.mypage_menu ul li.on a {color: #4270e0; font-weight: bold;}

/* 마이페이지 - 신청이력 */
.mypage_wrap {width: 950px; float: left;}
.mypage_wrap h2 {text-align: center; font-size: 1.5em; line-height: 2; font-weight: bold;}
.mypage_wrap p {text-align: center;}
.mypage_wrap .history {width: 100%; margin: 40px auto;}
.history ul {}
.history ul .history_li {display: flex; justify-content: space-between; align-items: center; border: 1px solid #e1e1e1; margin-bottom: 20px; padding: 30px 0;}
.history_left {position: relative; padding-left: 30px;}
.history_left::after {content:''; display: inline-block; width: 1px; height: 110px; background: #e1e1e1; position: absolute; left: 120%; bottom: -50%;}
.history_center {width: 58%;}
.history_center .class_name {text-align: left;}
.history_center .rel_list {}
.history_center .rel_list ul {}
.history_center .rel_list ul li {display: inline-block; margin-right: 20px; font-size: 13px; line-height: 3;}
.history_center .rel_list ul span {font-weight: bold; margin-right: 10px; padding: 5px 20px; border: 1px solid #e1e1e1; border-radius: 5px;}


.history_center .rel_list ul li .bar {display: inline-block; width: 400px; height: 20px; border: 1px solid #e1e1e1;}
.history_center .rel_list ul li .bar .percent {width: 80%; background: #e1e1e1; line-height: 21px; text-align: center; font-size: 12px;}
.history_right {padding-right: 30px;}
.history_right .box_register {text-align: right;}
.history_right .box_register ul {text-align: right;}
.history_right .box_register ul li {margin-bottom: 5px; border: 1px solid #e1e1e1;  text-align: center; font-size: 13px;}
.history_right .box_register ul li:nth-of-type(1) {background: #778899; color: #fff; padding: 5px 10px; font-size: 12px; border-radius: 50px;}
.history_right .box_register ul li:nth-of-type(2),
.history_right .box_register ul li:nth-of-type(3) {padding: 5px 20px;}
.history_right .box_register ul li:nth-of-type(2) button {font-size: 12px;}


/* 버튼 */
.next_btn {background: #778899; color: #fff; letter-spacing: -1px; font-weight: bold;}
.save_btn {background: #778899; color: #fff; letter-spacing: -1px; font-weight: bold;}
.list_btn {background: #778899; color: #fff; letter-spacing: -1px; font-weight: bold;}
.search_btn {background: #778899; color: #fff; letter-spacing: -1px; font-weight: bold; padding: 7px 10px; margin-left: 5px;}
.view_btn {border: 1px solid #e1e1e1; height: 30px; width: 46px;}
.write_btn {width: 120px; height: 40px; background: #778899; text-align:center; margin: 10px auto; border-radius: 3px; }
.write_btn a { line-height:40px;  color: #fff; letter-spacing: -1px;}

.map_btn {background: #778899; color: #fff; letter-spacing: -1px; font-weight: bold; padding: 7px 20px;}