main>div{
    margin:0 auto;
    margin-bottom: 10rem;
    display:flex;
    justify-content: space-between;
    width:120rem;
}

/**/
main>div>div.notice{
    margin-top:8rem;
}
main>div>div.notice>h1{
    margin-bottom:2.2rem;
    font-size:3rem;
    color:#000;
    text-align: center;
}
main>div>div.notice>p{
    text-align: center;
    margin-bottom: 4.7rem;
    font-size:1.5rem;
}
main>div>div.notice>form{
    margin-bottom: 3rem;
}
main>div>div.notice>form>table{
    color:#000;
    border-top:1px solid #808080;
}
main>div>div.notice>form>table>tbody>tr{
    border-bottom: 1px solid #F2F2F2;
}
main>div>div.notice>form>table>tbody>tr>th{
    padding-left: 1.7rem;
    text-align: left;
    line-height: 5.4rem;
    width:15rem;
    height:5.4rem;
    color:#000;
    border-right: 1px solid #F2F2F2;
    font-size:1.5rem;
}
main>div>div.notice>form>table>tbody>tr>th.top{
    vertical-align: top;
    height:27rem;
}
main>div>div.notice>form>table>tbody>tr>td{
    padding-left: 1.1rem;
    cursor: pointer;
}
main>div>div.notice>form>table>tbody>tr>td>input::placeholder{
    color:#000;
}
main>div>div.notice>form>table>tbody>tr>td>time{
    cursor: pointer;
}
main>div>div.notice>form>table>tbody>tr>td>textarea{
    padding-top: 2.2rem;
    line-height: 3rem;
    width:75rem;
    cursor: pointer;
}

main>div>div.notice>form>table>tbody>tr>td>textarea::placeholder{
    font-family: 'Noto Sans KR', sans-serif;
    color:#000;
}
main>div>div.notice>form>table>tbody>tr>td>input{
    width:74rem;
    cursor: pointer;
}
main>div>div.notice>button{
    margin: 0 auto;
    display: block;
    width:15rem;
    height:4rem;
    color:#fff;
    background-color: #1428A0;
}
/**/
main>div>div.notice>div.page{
    margin-top:6rem;
    border-top:1px solid #808080;
}
main>div>div.notice>div.page>dl{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color:#000;
}
main>div>div.notice>div.page>dl>dt{
    flex:2 2 auto;
    font-weight: 500;
    line-height: 5.4rem;
    /*width:19rem;*/
    height:5.4rem;
    border-bottom:1px solid #F2F2F2;
    border-right:1px solid #F2F2F2 ;
    font-size:1.5rem;
}
main>div>div.notice>div.page>dl>dd{
    flex:10 10 30rem;
    padding-left: 1.1rem;
    border-bottom:1px solid #F2F2F2;
    /*width:75rem;*/
}
main>div>div.notice>div.page>dl>dd>a{
    display: block;
    height:5.4rem;
    line-height: 5.4rem;
    color:#000;
    font-size:1.4rem;
}