main>div{
    margin:0 auto;
    margin-bottom:15rem;
    display:flex;
    justify-content: space-between;
    margin-top:8rem;
    width:120rem;
}


/*  */
main>div>div.lecture>h1{
    margin-bottom:5.4rem;
    font-size:3rem;
    color:#000;
    text-align: center;
}
main>div>div.lecture>ul.lecture_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    text-align: center;
}
main>div>div.lecture>ul.lecture_list>li.on{
    background-color: #1428A0;
}
main>div>div.lecture>ul.lecture_list>li{
    width:42rem;
    height:4rem;
    text-align: center;
    line-height: 4rem;
    cursor: pointer;
    font-size:1.5rem;
}
main>div>div.lecture>ul.lecture_list>li.on{
    color:#fff;
    
}
main>div>div.lecture>div.container>div.content>div{
    margin:2.7rem 0;
    padding:0 2.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:11.8rem;
    border:1px solid #E6E6E6;
}
main>div>div.lecture>div.container>div.content>div>p{
    margin-left:3.2rem;
    color:#000;
    font-size:1.5rem;
}
main>div>div.lecture>div.container>div.content>div>form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
}
main>div>div.lecture>div.container>div.content>div>form>select{
    width:23rem;
    height:3.5rem;
    border:1px solid #999;
    cursor: pointer;
    font-size: 1.4rem;
}
main>div>div.lecture>div.container>div.content>div>form>select>option{
    padding: 1.3rem 1.3rem;
    color:#999;
    font-size: 1.4rem;
}
main>div>div.lecture>div.container>div.content>div>form>input{
    padding-left: 1.4rem;
    width:23rem;
    height:3.5rem;
    font-size: 1.4rem;
    border:1px solid #999;
    cursor: pointer;
    
}
main>div>div.lecture>div.container>div.content>div>form>button{
    width:11rem;
    height:4rem;
    color:#fff;
    background-color: #1428A0;
    border:1px solid #1428A0;
}
main>div>div.lecture>div.container>div.content>article{
    width:100%;
    border-top:1px solid #808080;
}
main>div>div.lecture>div.container>div.content>article>div.list{
    padding:2.3rem 3.2rem;
    border-bottom:1px solid #F4F4F4;
}
main>div>div.lecture>div.container>div.content>article>div.list>ul{
    
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 3.6rem
}
main>div>div.lecture>div.container>div.content>article>div.list>ul>li{
    position: relative;
    margin-right:2.5rem;
}
main>div>div.lecture>div.container>div.content>article>div.list>ul>li:not(:last-child):after{
    content: "";
    position: absolute;
    top:1rem;
    right:-1.3rem;
    width:0.15rem;
    height:1.5rem;
    background-color:#999;
}
main>div>div.lecture>div.container>div.content>article>div.list>h2{
    font-size: 1.8rem;
    font-weight: 700;
    color:#000;
}
main>div>div.lecture>div.container>div.content>article>div.btn{
    float: right;
    margin-top: -5.5rem;
}
main>div>div.lecture>div.container>div.content>article>div.btn>button:first-of-type{
    background-color: #1428A0;
}
main>div>div.lecture>div.container>div.content>article>div.btn>button{
    float: left;
    margin: 0 0.8rem;
    width:10rem;
    height:2.5rem;
    
}
main>div>div.lecture>div.container>div.content>article>div.btn>button:last-of-type{
    border:1px solid #808080;
}
main>div>div.lecture>div.container>div.content>article>div.btn>button>a{
    display: block;
    font-size: 1.4rem;
}
main>div>div.lecture>div.container>div.content>article>div.btn>button:first-of-type>a{
    color:#fff;
}
main>div>div.lecture>div.container>div.content>article>div.btn>button:last-of-type>a{
    color:#000;
}
/**/
main>div>div.lecture>div.container>div.on{
display: block;
}
main>div>div.lecture>div.container>div{
    display: none;
}

