main{
    
}
main>div{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width:120rem;
    margin-top:8rem;
}

/*  */
main>div>div.lecture{}
main>div>div.lecture>h1{
    margin-bottom:3rem;
    font-size:3rem;
    color:#000;
    text-align: center;
}
main>div>div.lecture>div{
    margin-bottom:15rem;
    border-top:2px solid #999;
}
main>div>div.lecture>div>div.proflie{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:4rem 0;
    padding-bottom:3rem;
    
    border-bottom:1px solid #ccc;
}
main>div>div.lecture>div>div.proflie>ul{
    padding:0 8rem;
    height:14rem;
}
main>div>div.lecture>div>div.proflie>ul:nth-child(2){
    padding-top:2rem;
}
main>div>div.lecture>div>div.proflie>ul:nth-child(3){
    padding-top:2rem;
}
main>div>div.lecture>div>div.proflie>ul:not(:last-child){
    border-right:1px solid #ccc;
}
main>div>div.lecture>div>div.proflie>ul:nth-child(2)>li:nth-child(2){
    margin-top:2rem;
    font-size:4rem;
    color:#1428A0;
}
main>div>div.lecture>div>div.proflie>ul:nth-child(3)>li:nth-child(2){
    margin-top:2rem;
    font-size:4rem;
    color:#1428A0;
}
main>div>div.lecture>div>div.proflie>ul>li{
    margin-bottom:1rem;
    font-size:2.2rem;
    color:#000;
    text-align: center;
}
main>div>div.lecture>div>div.proflie>ul>li.name{
    font-size:1.8rem;
}
main>div>div.lecture>div>div.proflie>ul>li>img{}
main>div>div.lecture>div>p{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1rem;
    width:100%;
}
main>div>div.lecture>div>p>span{
    flex:1 1 70rem;
    font-size:1.5rem;
    color:#000;
}
main>div>div.lecture>div>p>span>i{
    font-size:1.6rem;
    color:#1428A0;
}
main>div>div.lecture>div>p>button{
    flex: 1 1 5rem;
    width:4rem;
    font-size:1.4rem;

}
main>div>div.lecture>div>div.content{
    width:100%;
}
main>div>div.lecture>div>div.content>table{
    width:100%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
main>div>div.lecture>div>div.content>table>tbody{
    width:100%;
}
main>div>div.lecture>div>div.content>table>tbody>tr:not(:last-child){
    border-bottom:1px solid #ccc; 
}
main>div>div.lecture>div>div.content>table>tbody>tr>th{
    padding:2rem 0;
    font-size:1.4rem;
    border-bottom:1px solid #ccc;
    background:#F2F2F2;

}
main>div>div.lecture>div>div.content>table>tbody>tr>th:not(:last-child){
    border-right:1px solid #ccc;    
}

main>div>div.lecture>div>div.content>table>tbody>tr>td{
    padding:2rem 2rem;
    font-size:1.4rem;
}
main>div>div.lecture>div>div.content>table>tbody>tr>td:nth-child(1){
    padding:2rem 4rem;
}
main>div>div.lecture>div>div.content>table>tbody>tr>td:not(:last-child){
    border-right:1px solid #ccc;   
}

main>div>div.lecture>div>div.content>table>tbody>tr>td>span{
    display:inline-block;
    width:8rem;
    height:2.5rem;
    line-height: 2.5rem;
    font-size:1.4rem;
    text-align: center;
    color:white;
    background:#999;
    border-radius: 3rem;
}
main>div>div.lecture>div>div.content>table>tbody>tr:nth-child(2)>td>span{
    background:#1428A0;
}