main>div{
    margin:0 auto;
    margin-bottom: 10rem;
    display:flex;
    justify-content: space-between;
    margin-top:8rem;
}
main>div>div.subnav{
    width:20rem;
}
main>div>div.subnav>h1{
    padding-left:1rem;
    font-size:1.8rem;
    color:#000;
    line-height: 4rem;
    border-bottom:2px solid #1428A0;
}
main>div>div.subnav>nav{
    padding-left:1rem;
}
main>div>div.subnav>nav>ul>li>a{
    display: block;
    font-size:1.6rem;
    line-height: 4rem;
    color:#000;
}

main>div>div.subnav>nav>ul>li:nth-child(1)>a{
    color:#000;
}