main>div{
    margin:0 auto;
    margin-bottom: 10rem;
    display:flex;
    justify-content: space-between;
    width:120rem;
}

/**/
main>div>div.asked{
    margin-top:8rem;
}
main>div>div.asked>h1{
    margin-bottom:2.2rem;
    font-size:3rem;
    color:#000;
    text-align: center;
}
main>div>div.asked>p{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 4.7rem;
}
main>div>div.asked>div:first-of-type{
    margin-bottom: 1.9rem;
}
/*div.srh*/
main>div>div.asked>div.srh>form{
    padding: 4.2rem 9rem;
    border:1px solid #E6E6E6;
}
main>div>div.asked>div.srh>form>div:first-of-type{
    margin-bottom: 1.8rem;
}
main>div>div.asked>div.srh>form>div{
    display: flex;
    justify-content:left;
    align-items: center;
}
main>div>div.asked>div.srh>form>div>label{
    display: inline-block;
    width:10.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color:#000;
}
main>div>div.asked>div.srh>form>div>select{
    padding-left: 1rem;
    width:47rem;
    height:3.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    color:#999;
    border:1px solid #999;
}
main>div>div.asked>div.srh>form>div>select.width{
    width:20rem;
    border:1px solid #999;
}

main>div>div.asked>div.srh>form>div>input{
    margin-left: 3.6rem;
    width:23.5rem;
    height:3.5rem;
    border:1px solid #999;
}
main>div>div.asked>div.srh>form>div>input::placeholder{
    padding-left: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    color:#999;
}
main>div>div.asked>div.srh>form>div>button{
    margin-left: 3.2rem;
    float: right;
    display: block;
    width:11rem;
    height:4rem;
    color:#fff;
    background-color: #1428A0;
}

/*div.list*/
main>div>div.asked>div.list>p{
    float: left;
    font-size: 1.5rem;
    font-weight: 500;
    color:#000;
}
main>div>div.asked>div.list>p>span{
    font-weight: 600;
    color:#1428A0;
}
main>div>div.asked>div.list>ul{
    display: flex;
    justify-content:flex-end;
    align-items: right;
}
main>div>div.asked>div.list>ul>li>select{
    margin: 0 1.2rem;
    width:10rem;
    height:2.5rem;
    font-size: 1.4rem;
    border:1px solid #999;
    cursor: pointer;
}
main>div>div.asked>div.list>ul>li>select>option{
    padding: 0.7rem;
    cursor: pointer;
}
main>div>div.asked>div.list>ul>li>button{
    display: block;
    width:6rem;
    height:2.5rem;
    border:1px solid #999;
    cursor: pointer;
}
/*div.category*/
main>div>div.asked>div.category{
    position: relative;
    margin-top: 1.5rem;
    border-top: 1px solid #808080;
}
main>div>div.asked>div.category>dl{
    padding: 1.7rem 0;
    height:9rem;
    cursor: pointer;
}
main>div>div.asked>div.category>dl>a{
    display: inline-block;
}
main>div>div.asked>div.category>dl>a>dt{
    position: relative;
    float: left;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 1rem;
    color:#999;
}
main>div>div.asked>div.category>dl>a>dt:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0rem;
    border-right: 1px solid rgb(165, 162, 162);
    width: 0;
    height: 1.5rem;
}
main>div>div.asked>div.category>dl>a>dd{
    clear: both;
    padding:0 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    color:#000;
}
main>div>div.asked>div.category>img{
    position: absolute;
    top:4rem;
    right:3rem;
    cursor: pointer;
}
/*div.overflow*/
main>div>div.asked>div.overflow{
    display:none;
    width:70rem;
    height:68rem;
    background-color: #F5F7FF;
}
main>div>div.asked>div.overflow>div.text{
    padding: 3.5rem 0;
    height:100%;
}
main>div>div.asked>div.overflow>div.text>div.a{
    float: left;
    width:10rem;
    height:100%;
    font-size: 2rem;
    font-weight: 600;
    vertical-align:top;
    text-align: center;
    color:#1428A0;
}
main>div>div.asked>div.overflow>div.text>p{
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color:#000;
}

