main>div{
    display:flex;
    justify-content: space-between;
}
main>div>div.subnav{
    position: relative;
    width:100vw;
}
main>div>div.subnav>img{
    display: block;
    position: absolute;
    top:1.6rem;
    right:1.6rem;
}
main>div>div.subnav>h1{
    padding-left:1rem;
    font-size:1.8rem;
    color:#000;
    line-height: 4rem;
    border-bottom:1px solid #999;
}
main>div>div.subnav>nav{
display: none;
}
main>div>div.subnav>nav>ul>li>a{
    padding-left: 1rem;
    display: block;
    font-size:1.6rem;
    line-height: 4rem;
    color:#000;
    border-bottom:1px solid #E2E2E2;
    
}
main>div>div.subnav>nav>ul>li:nth-child(1)>a{
    color:#000;
}
