@media screen and (min-width: 769px) {
    .web{
        display:block;
    }
    .mobile{
        display:none;
    }
    main>div{
        margin:0 auto;
        margin-bottom: 10rem;
        display:flex;
        justify-content: space-between;
        width:120rem;
    }
    
    main>div>div.partner{
        margin-top:8rem;
    }
    main>div>div.partner>h1{
        margin-bottom:3.4rem;
        font-size:2.2rem;
        color:#000;
    }
    main>div>div.partner>form{}
    main>div>div.partner>form>div{}
    main>div>div.partner>form>div>table{
        border-top:2px solid #999;
        border-bottom:2px solid #999;
    }
    main>div>div.partner>form>div>table>tbody{}
    main>div>div.partner>form>div>table>tbody>tr{
        
    }
    main>div>div.partner>form>div>table>tbody>tr:not(:last-child){
        border-bottom:1px solid #ccc;
    }
    
    main>div>div.partner>form>div>table>tbody>tr>th{
        position:relative;
        padding:2rem 0;
        padding-left:2.5rem;
        width:18rem;
        font-size:1.5rem;
        color:#000;
        text-align: start;
        border-right:1px solid #ccc;
    }
    main>div>div.partner>form>div>table>tbody>tr>th.necessary:before{
        content: "*";
        position:absolute;
        top:2rem;
        left:1.5rem;
        color:red;
        width:1rem;
        height:1rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>th.box6{
        vertical-align: top;
    }
    main>div>div.partner>form>div>table>tbody>tr>th.thth{
        border-left:1px solid #ccc;
    }
    main>div>div.partner>form>div>table>tbody>tr>td{
        padding:0 1rem;
        
    }
    main>div>div.partner>form>div>table>tbody>tr>td>input{
        font-size:1.4rem;
        height:2.5rem;
        border:1px solid #ccc;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box1>input{
        width:26rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box2{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box3{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box2>input{
        width:21rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box3>input{
        width:7rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box4>input{
        width:8rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box3>select{
        width:7rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box4{
        display:flex;
        justify-content: space-between;
        align-items: center;
        
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box5{
        display:flex;
        align-items: center;
        
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box5>input{
        margin-right:1rem;
        width:2rem;
        height:2rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box5>label{
        margin-right:1rem;
    }
    
    main>div>div.partner>form>div>table>tbody>tr>td.box4>select{
        width:8rem;
        font-size:1.4rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box7{
        padding:2rem 1rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td>label{
        font-size:1.4rem;
        color:#000;
    }
    main>div>div.partner>form>div>table>tbody>tr>td>select{
        height:2.5rem;
        border:1px solid #ccc;
    }
    main>div>div.partner>form>div>table>tbody>tr>td>select>option{}
    main>div>div.partner>form>div>table>tbody>tr>td>span{
        font-size:1.4rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td>textarea{
        width:100%;
        border:1px solid #ccc;
    }
    
    /*  */
    main>div>div.partner>form>div>article{
        margin-top:3rem;
        padding-left:1.5rem;
        height:18.2rem;
        border:1px solid #ccc;
        overflow-y: scroll;
    }
    main>div>div.partner>form>div>article>h1{
        margin-top:3.8rem;
        
        font-size:1.6rem;
        color:#000;
    }
    main>div>div.partner>form>div>article>div{}
    main>div>div.partner>form>div>article>div>h2{
        margin-top:2.5rem;
        margin-bottom:1.5rem;
        font-size:1.4rem;
    }
    main>div>div.partner>form>div>article>div>p{
        font-size:1.4rem;
    }
    
    /*  */
    main>div>div.partner>form>div>p{
        display: flex;
        align-items: center;
        margin-top:1.5rem;
        margin-left:1.5rem;
    }
    main>div>div.partner>form>div>p>input{
        margin-right:1.5rem;
        width:2rem;
        height:2rem;
    }
    main>div>div.partner>form>div>p>span{
        font-size:1.4rem;
        color:#000;
    }
    
    /*  */
    main>div>div.partner>form>div>div{
        margin-top:5rem;
        text-align: center;
    }
    main>div>div.partner>form>div>div>input{
        width:24rem;
        height:4.5rem;
        font-size:1.6rem;
        color:white;
        background:#1428A0;
    }
}

@media screen and (max-width: 768px) {
    .web{
        display:none;
    }
    .mobile{
        display:block;
    }
    main>div{
        margin:0 auto;
        margin-bottom: 10rem;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        width:100%;
    }
    
    main>div>div.partner{
        padding:0 2rem;
        margin:0 auto;
        width:100%;
        margin-top:8rem;
    }
    main>div>div.partner>h1{
        margin-bottom:3.4rem;
        width:100%;
        font-size:2.2rem;
        color:#000;
    }
    main>div>div.partner>form{}
    main>div>div.partner>form>div{}
    main>div>div.partner>form>div>table{
        width:100%;
        border-top:2px solid #999;
        border-bottom:2px solid #999;
    }
    main>div>div.partner>form>div>table>tbody{
        width:100%;
    }
    main>div>div.partner>form>div>table>tbody>tr{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    main>div>div.partner>form>div>table>tbody>tr:not(:last-child){
    }
    
    main>div>div.partner>form>div>table>tbody>tr>th{
        position:relative;
        padding:2rem 0;
        padding-left:2.5rem;
        width:100%;
        font-size:1.5rem;
        color:#000;
        text-align: start;
        border-bottom:1px solid #ccc;
    }
    main>div>div.partner>form>div>table>tbody>tr>th.necessary:before{
        content: "*";
        position:absolute;
        top:2rem;
        left:1.5rem;
        color:red;
        width:1rem;
        height:1rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>th.box6{
        vertical-align: top;
    }
    main>div>div.partner>form>div>table>tbody>tr>th.thth{
    }
    main>div>div.partner>form>div>table>tbody>tr>td{
        padding:1rem 0;
        border-bottom:1px solid #999;
        text-align: center;
    }
    main>div>div.partner>form>div>table>tbody>tr>td>input{
        font-size:1.4rem;
        height:2.5rem;
        border:1px solid #ccc;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box1>input{
        display:block;
        width:50%;
        height: 3rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box2{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box3{
        display:flex;
        align-items: center;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box2>input{
        width:90%;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box3>input{
        margin:0 0.5rem;
        width:20%;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box3>select{
        margin-right:0.5rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box4>input{
        margin:0 0.5rem;
        width:8rem;
        
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box3>select{
        width:7rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box4{
        display:flex;
        align-items: center;
        
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box5{
        display:flex;
        align-items: center;
        
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box5>input{
        margin-right:1rem;
        width:2rem;
        height:2rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box5>label{
        margin-right:1rem;
    }
    
    main>div>div.partner>form>div>table>tbody>tr>td.box4>select{
        width:8rem;
        font-size:1.4rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box7{
        padding:2rem 1rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td>label{
        font-size:1.4rem;
        color:#000;
    }
    main>div>div.partner>form>div>table>tbody>tr>td>select{
        height:2.5rem;
        border:1px solid #ccc;
    }
    main>div>div.partner>form>div>table>tbody>tr>td>select>option{}
    main>div>div.partner>form>div>table>tbody>tr>td>span{
        font-size:1.4rem;
    }
    main>div>div.partner>form>div>table>tbody>tr>td.box3>span{
        margin:0 1rem;
        
    }
    main>div>div.partner>form>div>table>tbody>tr>td>textarea{
        width:100%;
        border:1px solid #ccc;
    }
    
    /*  */
    main>div>div.partner>form>div>article{
        margin-top:3rem;
        padding-left:1.5rem;
        height:18.2rem;
        border:1px solid #ccc;
        overflow-y: scroll;
    }
    main>div>div.partner>form>div>article>h1{
        margin-top:3.8rem;
        
        font-size:1.6rem;
        color:#000;
    }
    main>div>div.partner>form>div>article>div{}
    main>div>div.partner>form>div>article>div>h2{
        margin-top:2.5rem;
        margin-bottom:1.5rem;
        font-size:1.4rem;
    }
    main>div>div.partner>form>div>article>div>p{
        font-size:1.4rem;
    }
    
    /*  */
    main>div>div.partner>form>div>p{
        display: flex;
        align-items: center;
        margin-top:1.5rem;
        margin-left:1.5rem;
    }
    main>div>div.partner>form>div>p>input{
        margin-right:1.5rem;
        width:2rem;
        height:2rem;
    }
    main>div>div.partner>form>div>p>span{
        font-size:1.4rem;
        color:#000;
    }
    
    /*  */
    main>div>div.partner>form>div>div{
        margin-top:5rem;
        text-align: center;
    }
    main>div>div.partner>form>div>div>input{
        width:24rem;
        height:4.5rem;
        font-size:1.6rem;
        color:white;
        background:#1428A0;
    }
}