@media screen and (min-width: 769px) {
    footer{
        margin:0 auto;
        margin-top: 80px;
        width: 100%;
        border-top:1px solid #ccc;
    }
    
    footer>div{
        display: flex;
        justify-content: space-between;
        padding:60px 0;
        width:880px;
        margin:0 auto;
    }
    footer>div>h1{}
    footer>div>div{
        position:relative;
        
    
    }
    footer>div>div>div{
        display:none;
        position:absolute; z-index: 9999;
        bottom:14rem;
        left:0;
        padding:6rem 4rem;
        width:50rem;
        height:30rem;
        background:rgb(224, 222, 222);
    }
    footer>div>div>div>h1{
        margin-bottom:5rem;
        font-size:2rem;
    }
    footer>div>div>div>p:nth-child(2){
        margin-bottom:5rem;
        font-size:1.5rem;
        line-height: 2.5rem;
        color:#666;
    }
    footer>div>div>div>p:nth-child(3){
        font-size:1.5rem;
        color:#666;
        text-align: end;
    }
    footer>div>div>div>p:nth-child(4){
        position:absolute;
        top:2rem;
        right:2rem;
        cursor: pointer;
    }
    footer>div>div>ul{
        display:flex;
        margin-bottom:40px;
    }
    footer>div>div>ul>li{
        position:relative;
        font-size:13px;
        cursor: pointer;
    }
    footer>div>div>ul>li:not(:nth-child(2)){
        padding:0 10px;
        
    }
    footer>div>div>ul>li:nth-child(2){
        padding-right:10px;
    }
    footer>div>div>ul>li:nth-child(3){
        color:#21277d;
    }
    footer>div>div>ul>li:not(:last-child):before{
        content:"";
        position:absolute;
        top:0;
        right:0;
        width:0;
        height:10px;
        border-right:1px solid #999999;
    }
    footer>div>div>address{}
    
    footer>div>div>address>p{
        font-size:14px;
        line-height: 30px;
        color:#999999;
    }
    footer>div>div>address>p>span{
        padding-left:10px;
    }
}

@media screen and (max-width: 768px) {
    footer{
        margin:0 auto;
        margin-top: 80px;
        width: 100%;
        border-top:1px solid #ccc;
    }
    
    footer>div{
        padding:60px 0;
        text-align: center;
    }
    footer>div>h1{
        margin-bottom:5rem;
    }
    footer>div>div{
        position:relative;
    }
    footer>div>div>div{
        display:none;
        position:absolute; z-index: 9999;
        bottom:14rem;
        left:0;
        padding:6rem 4rem;
        width:50rem;
        height:30rem;
        background:rgb(224, 222, 222);
    }
    footer>div>div>div>h1{
        margin-bottom:5rem;
        font-size:2rem;
    }
    footer>div>div>div>p:nth-child(2){
        margin-bottom:5rem;
        font-size:1.5rem;
        line-height: 2.5rem;
        color:#666;
    }
    footer>div>div>div>p:nth-child(3){
        font-size:1.5rem;
        color:#666;
        text-align: end;
    }
    footer>div>div>div>p:nth-child(4){
        position:absolute;
        top:2rem;
        right:2rem;
        cursor: pointer;
    }
    footer>div>div>ul{
        display:flex;
        justify-content: center;
        margin-bottom:40px;
    }
    footer>div>div>ul>li{
        position:relative;
        font-size:13px;
        cursor: pointer;
    }
    footer>div>div>ul>li:not(:nth-child(2)){
        padding:0 10px;
        
    }
    footer>div>div>ul>li:nth-child(2){
        padding-right:10px;
    }
    footer>div>div>ul>li:nth-child(3){
        color:#21277d;
    }
    footer>div>div>ul>li:not(:last-child):before{
        content:"";
        position:absolute;
        top:0;
        right:0;
        width:0;
        height:10px;
        border-right:1px solid #999999;
    }
    footer>div>div>address{}
    
    footer>div>div>address>p{
        font-size:14px;
        line-height: 30px;
        color:#999999;
    }
    footer>div>div>address>p>span{
        padding-left:10px;
    }
}