header{
    width:76.8rem;
}
header>div.global{
    width:40rem;
}
header>div.global>div.gnb__inner{
    display:flex;
    justify-content:flex-end;
    width:40rem;
}
header>div.global>div.gnb__inner>ul.utility{
    display: flex;
    
}
header>div.globa>div.gnb__inner>ul.utility>li{}
header>div.global>div.gnb__inner>ul.utility>li>a{
    color:#000;
    font-size:1.4rem;
}

/*  */
header>div.type2{}
header>div.type2>div.gnb_row{}
header>div.type2>div.gnb_row>div.gnb__inner{}
header>div.type2>div.gnb_row>div.gnb__inner>h1{}
header>div.type2>div.gnb_row>div.gnb__inner>h1>a{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_search_fd{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_search_fd>form{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_search_fd>form>fieldset{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_search_fd>form>fieldset>input{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_search_fd>form>fieldset>button{}
/*  */
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>button{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>span{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.category_contents{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.category_contents>ul{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.category_contents>ul>li{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.category_contents>ul>li>a{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.category_contents>ul>li>ul{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.category_contents>ul>li>ul>li{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.category_contents>ul>li>ul>li>a{}
/*  */
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.gnb_nav{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.gnb_nav>ul{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.gnb_nav>ul>li{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.gnb_nav>ul>li>a{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.gnb_nav>ul>li>ul{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.gnb_nav>ul>li>ul>li{}
header>div.type2>div.gnb_row>div.gnb__inner>div.gnb_cate>div.gnb_nav>ul>li>ul>li>a{}
header>div.type2>span{}