main{
    
}
main>div{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width:120rem;
    margin-top:8rem;
    margin-bottom:15rem;
}
main>div>div.subnav{
    
    margin-right:3rem;
    width:20rem;
}
main>div>div.subnav>h1{
    padding-left:1rem;
    font-size:1.8rem;
    color:#000;
    line-height: 4rem;
    border-bottom:2px solid #1428A0;
}
main>div>div.subnav>nav{
    padding-left:1rem;
}
main>div>div.subnav>nav>ul{}
main>div>div.subnav>nav>ul>li{
    font-size:1.6rem;
    line-height: 4rem;
   
}
main>div>div.subnav>nav>ul:nth-child(1)>li{
    color:#000;
}
main>div>div.subnav>nav>ul>li>a{}
main>div>div.subnav>nav>ul>li>ul{
    
    border-top:1px solid #ccc;
}
main>div>div.subnav>nav>ul>li>ul:nth-child()
main>div>div.subnav>nav>ul>li>ul>li{
    
    font-size:1.4rem;
    line-height: 4rem;
}
main>div>div.subnav>nav>ul>li>ul>li>a{
    padding-left:1.5rem;
}
main>div>div.subnav>nav>ul>li>ul>li.on>a{
    color:#000;
}

/*  */
main>div>div.lecture{}
main>div>div.lecture>h1{
    margin-bottom:5rem;
    font-size:3rem;
    color:#000;
    text-align: center;
}
main>div>div.lecture>form{}
main>div>div.lecture>form>div{
    width:100%;
    border-top:2px solid #999;
} 
main>div>div.lecture>form>div>div{
    border-bottom:1px solid #ccc;
}
main>div>div.lecture>form>div>div>p{
    
}
main>div>div.lecture>form>div>div>p>label{
    display:inline-block;
    padding-left:2rem;
    width:20rem;
    color:#000;
    font-size:1.5rem;
    line-height:5rem;
    
}
main>div>div.lecture>form>div>div:not(.pwdd2)>p>label{
    border-right:1px solid #ccc;
}
main>div>div.lecture>form>div>div>p>input{
    margin-left:0.7rem;
    width:30rem;
    height:2.5rem;
    font-size:1.4rem;
    border:1px solid #ccc;
}
main>div>div.lecture>form>div>div.idd{
    
}
main>div>div.lecture>form>div>div.idd>p{}
main>div>div.lecture>form>div>div.idd>p>label{
    
}
main>div>div.lecture>form>div>div.idd>p>input{
    border:0 none;
}
main>div>div.lecture>form>div>div.pwdd{}
main>div>div.lecture>form>div>div.pwdd>p{}
main>div>div.lecture>form>div>div.pwdd>p>label{
    
}
main>div>div.lecture>form>div>div.pwdd>p>input{
   
}
main>div>div.lecture>form>div>div.pwdd2{
    display:flex;
}
main>div>div.lecture>form>div>div.pwdd2>p{
    border-right:1px solid #ccc;
}
main>div>div.lecture>form>div>div.pwdd2>p>label{
    width:19.9rem;
}
main>div>div.lecture>form>div>div.pwdd2>div{
    padding:1rem 0;
}
main>div>div.lecture>form>div>div.pwdd2>div>p.pwddd{}
main>div>div.lecture>form>div>div.pwdd2>div>p.pwddd>input{
    margin-bottom:1rem;
    margin-left:1rem;
    width:30rem;
    height:2.5rem;
    font-size:1.4rem;
    border:1px solid #ccc;
}
main>div>div.lecture>form>div>div.pwdd2>div>p.check{
    padding-left:1rem;
    font-size:1.4rem;
    line-height: 2.5rem;
    color:#000;
}
main>div>div.lecture>form>div>div.pwdd3{}
main>div>div.lecture>form>div>div.pwdd3>p{}
main>div>div.lecture>form>div>div.pwdd3>p>label{
    
}
main>div>div.lecture>form>div>div.pwdd3>p>input{
    
}
main>div>div.lecture>form>article{
    margin-top:2rem;
    padding:2rem 0;
    padding-left:4rem;
    width:100%;
    background:#f2f2f2;
}
main>div>div.lecture>form>article>div.cont1{
    margin-bottom:3rem;
    
}
main>div>div.lecture>form>article>div.cont1>dl{}
main>div>div.lecture>form>article>div.cont1>dl>dt{
    font-size:1.5rem;
    line-height: 4rem;
    color:#000;
}
main>div>div.lecture>form>article>div.cont1>dl>dd{
    line-height: 4rem;
}
main>div>div.lecture>form>article>div.cont2{}
main>div>div.lecture>form>article>div.cont2>dl{}
main>div>div.lecture>form>article>div.cont2>dl>dt{
    font-size:1.5rem;
    line-height: 4rem;
    color:#000;
}
main>div>div.lecture>form>article>div.cont2>dl>dd{
    line-height: 3rem;
}
main>div>div.lecture>form>p{
    margin-top:10rem;
    text-align: center;
}
main>div>div.lecture>form>p>input{
    width:15rem;
    height:4rem;
    background:#1428A0;
    color:white;
}



/**/
main>div>div.lecture>form>div>div.pwwd{
    
    position:relative;
}
main>div>div.lecture>form>div>div.pwwd>p>label{
    padding-left:3rem;
}
main>div>div.lecture>form>div>div.pwwd>p>label:before{
    content:"*";
    position:absolute;
    top:0rem;
    left:2rem;
    width:1rem;
    height:1rem;
    color:red;
}