main>div{
    margin:0 auto;
    margin-bottom: 10rem;
    display:flex;
    justify-content: space-between;
    margin-top:8rem;
    width:120rem;
}

/**/
main>div>div.drop>h1{
    margin-bottom:5.4rem;
    font-size:3rem;
    color:#000;
    text-align: center;
}
main>div>div.drop>dl{
    padding: 4rem 4rem 1.8rem 4rem;
    border:1px solid #999;
    color:#000;
}
main>div>div.drop>dl>dt{
    margin-bottom: 1rem;
    padding-left: 1.3rem;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 4.3rem;
    color:#000;
    width:88.1rem;
    border-bottom:1px solid #d1d1d1;
}
main>div>div.drop>dl>dt>span{
    color:#1428A0;
}
main>div>div.drop>dl>dd{
    font-size: 1.4rem;
    line-height: 4.2rem;
    color:#4D4D4D;
}
main>div>div.drop>div.wrap{
    width:100%;
    background-color: #F5F7FF;
}
main>div>div.drop>div.wrap>dl{
    padding: 3.2rem 4.3rem;
}
main>div>div.drop>div.wrap>dl>dt{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 4.3rem;
    color:#000;
}
main>div>div.drop>div.wrap>dl>dd{
    font-size: 1.4rem;
    line-height: 3rem;
    color:#4D4D4D;
}
main>div>div.drop>button{
    margin: 0 auto;
    margin-top: 10rem;
    display: block;
    width:15rem;
    height:4rem;
    color:#fff;
    background-color: #1428A0;
}

