main{
    
    margin:0 auto;
    width:120rem;
}
main>div{
    display:flex;
}
main>div>div.subnav{
    
    margin-right:3rem;
    width:20rem;
}
main>div>div.subnav>h1{
    padding-left:1rem;
    font-size:1.8rem;
    color:#000;
    line-height: 4rem;
    border-bottom:2px solid #1428A0;
}
main>div>div.subnav>nav{
    padding-left:1rem;
}
main>div>div.subnav>nav>ul{}
main>div>div.subnav>nav>ul>li{
    font-size:1.6rem;
    line-height: 4rem;
    
}
main>div>div.subnav>nav>ul>li>a{}
main>div>div.subnav>nav>ul>li>ul{
    
    border-top:1px solid #ccc;
}
main>div>div.subnav>nav>ul>li>ul:nth-child()
main>div>div.subnav>nav>ul>li>ul>li{
    padding-left:1.5rem;
    font-size:1.4rem;
    line-height: 4rem;
}
main>div>div.subnav>nav>ul>li>ul>li>a{}

/*  */
main>div>div.lecture{}
main>div>div.lecture>h1{
    font-size:3rem;
    color:#000;
}
main>div>div.lecture>div{}
main>div>div.lecture>div>div.proflie{}
main>div>div.lecture>div>div.proflie>ul{}
main>div>div.lecture>div>div.proflie>ul>li{
    font-size:2.2rem;
    color:#000;
}
main>div>div.lecture>div>div.proflie>ul>li.name{
    font-size:1.8rem;
}
main>div>div.lecture>div>div.proflie>ul>li>img{}
main>div>div.lecture>div>p{}
main>div>div.lecture>div>p>span{
    font-size:1.5rem;
    color:#000;
}
main>div>div.lecture>div>p>button{
    font-size:1.4rem;
}
main>div>div.lecture>div>div.content{}
main>div>div.lecture>div>div.content>table{}
main>div>div.lecture>div>div.content>table>tbody{}
main>div>div.lecture>div>div.content>table>tbody>tr{}
main>div>div.lecture>div>div.content>table>tbody>tr>th{
    font-size:1.4rem;
}
main>div>div.lecture>div>div.content>table>tbody>tr>td{
    font-size:1.4rem;
}
main>div>div.lecture>div>div.content>table>tbody>tr>td>span{
    font-size:1.4rem;
}